body{
	margin: 20px;
	font-size: 150%;
}

fieldset {border: 10px solid #36648B;}

legend {
	font-size: 300%;
	color: #99CC32;
	font-weight: bolder;
}

label {margin-right: 5px;}

input[type=submit]{
        background:#006699;
        color:#ffffff;
		width:206px;
		height: 50px;
		font-size: 70%;
		font-weight: bold;
		margin-top: 20px;
}

a {color: #36648B;}

#visitante {
	font-size: 78%;
	position: relative;
	left: 30%;
	margin-bottom: 20px;
}

#botao{
	position: relative;
	left: 23%;
}